@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Nome: @ViewData["Name"]</p>
<p>
    <a href="">@ViewData["Email"]</a>
</p>

<p>Use this area to provide additional information.</p>
